.Card {
  display: flex;
  background-color: #43b047;
  height: 250px;
  width: 400px;
  margin: 60px;
  padding: 20px 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.Card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.Card-container {
  justify-content: space-evenly;
  display: flex;
}

.Card-info-button {
  color: #222;
  font-size: 8px;
  background-color: #fbd000;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  height: 20px;
  width: 60px;
}

.Card-info-button:hover {
  opacity: 0.6;
}

.Card-logo {
  height: 80px;
  vertical-align: middle;
  margin-bottom: 10px;
}

.Card-text-created {
  font-size: 1em;
  font-weight: 200;
}

.Card-text-name {
  font-size: 1em;
}

.Card-user-icon {
  opacity: 0.4;
  max-height: 40px;
  max-width: 40px;
  background-color: transparent;
}

.Card-users {
  background-color: #43b047;
  height: 800px;
  width: 400px;
  margin: 60px;
  padding: 20px 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.Card-users:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.Card-users-button {
  height: 35px;
  color: #222;
  background-color: #fbd000;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  margin: 45px;
}

.Card-users-button-disabled {
  height: 35px;
  color: #222;
  background-color: grey;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  margin: 45px;
}

.Card-users-button:hover {
  opacity: 0.6;
}

.selected {
  opacity: 1;
}

.Card-user-icon:hover {
  opacity: 0.6;
}

.Header {
  background-color: #222;
  height: 120px;
  padding: 10px 50px;
  color: #00ffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.Header a {
  float: left;
  padding: 50px 40px;
  font-size: 18px;
}

.Header img {
  float: left;
  padding: 20px;
}

.Header-logo {
  height: 80px;
}

.Header-logout-button {
  height: 35px;
  color: #00ffff;
  background-color: #e52521;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  margin: 45px; /* to balance against larger pixel flower image */
}

.Header-logout-button:hover {
  opacity: 0.6;
}

.Header-right {
  float: right;
}
